body {
  background-image: url(../img/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
img {
  height: 180px;
  width: auto;
}
.main {
  background-color: rgb(190, 185, 185, 0.5);
  border-radius: 10px;
  padding-bottom: 10px;
}
.m_heah {
  text-align: center;
}

li:hover {
  background-color: royalblue;
}
