/* body {
  background-image: url(../img/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg);

  background-repeat: no-repeat;
} */

.m_heah {
  text-align: center;
}
/* .questions2 {
  display: flex;
  justify-self: center;
} */
